
/* Add by YNO  */


/* Style the form - display items horizontally */
.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

/* Add some margins for each label */
.form-inline label {
	margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
	padding: 10px 20px;
	background-color: dodgerblue;
	border: 1px solid #ddd;
	color: white;
}

.form-inline button:hover {
	background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
	.form-inline input {
		margin: 10px 0;
	}

	.form-inline {
		flex-direction: column;
		align-items: stretch;
	}
}


/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (min-width: 801px) {
	select.form-control.select-box {
		width: 200px;
		margin-right: 10px;
	}

	input.form-control.search-box {
		width: 590px;
	}

	.gsc-control-cse.gsc-control-cse-en {
		margin-left: -15px !important;
	}

}

.gs-result .gs-title, .gs-result .gs-title * {
	color: #1d1e21;
	text-decoration: none;
	font-size: 18px !important;
}

.gs-result a.gs-title, .gs-result a.gs-title * {
	color: #1d1e21;
	text-decoration: none !important;
	font-size: 18px !important;
}

.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long {
	display: none;
}

.gcsc-more-maybe-branding-root {
	display: none;
}


.partner_logo img {
	max-height: 100px;
}


.margin-right-10
{
	margin-right: 15px;
}

select.js-google-search.select-lg.margin-right-10 {
	margin-right: 10px;
}

.green {
	color: green;
}


.darkgreen {
	color: darkgreen;
}


.red {
	color: red;
}

.darkred {
	color: darkred;
}

.darkblue {
	color: darkblue;
}

.darkorange {
	color: darkorange;
}

.darksalmon {
	color: darksalmon;
}

.funder-logo-small {
	height: 50px;
}

.gcs-image {
	width: 60%;
}

.gcs-image-blog {
	width: 80s%;
}


.term-of-use {
	width: 85%;
}

img.icon-lib-single {
	margin-top:10px;
}

.filter-label-project {
	background: #ccc;
	padding: 5px 10px;
	line-height: 1em;
	font-size: 12px;
	border-radius: 4px;
	text-transform: capitalize;
	display:inline-block;
}
.filter-label-box-project {
	font-size:12px;
	font-weight:bold;
	overflow: hidden;
	margin-top: 10px;
	line-height: 2.5em;
}

img.logo-partner-on-team {
	max-height: 60px;
	margin-right: 0px;
	max-width: 160px;
}

.partner-list-items {
	width: 100%;
	align-items: left !important;
}
.project-list {
	margin: 20px;
}


.left-md{-webkit-box-align:left;-webkit-align-items:left;-ms-flex-align:center;align-items:left}
